@model IEnumerable<Ohjelmoinnin_jatko.Models.Henkilot>
@{
    ViewBag.Title = "Index";
}

<h2>Asiakkaat, staatinen tapa</h2>

<p>Kontrollerista tullutta tietoa: <strong>@ViewBag.OmaTieto</strong>.</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Asiakas-id</th>
			<th>Nimi</th>
			<th>Osoite</th>
			<th>Esimies</th>
			<th>Osoite</th>
			<th>Postinumero</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Ohjelmoinnin_jatko.Models.Henkilot cust in Model)
		{
			<tr>
				<td>@cust.HenkiloID</td>
				<td>@cust.Etunimi</td>
				<td>@cust.Sukunimi</td>
				<td>@cust.Esimies</td>
				<td>@cust.Osoite</td>
				<td>@cust.Postinumero</td>
			</tr>
		}
	</tbody>
</table>

<p>Asiakkaita yhteensä: @Model.Count().</p>